.header {
    padding: 2%;
    font-size: 5vw;
}

.header img {
    width: 25%;
    padding: 0 5px;
}

.column {
    margin: auto;
    width: 45%;
    font-size: 40px;
    padding: 0 10px;
}

.column p {
    font-size: 16px;
}

.column ul {
    font-size: 16px;
    list-style-image: url("../images/heart_small.png");
}

.column a {
    text-decoration: none;
    color: #f16683;
}

.column a:visited {
    color: #04a1df;
}

.image {
    text-align: center;
}

.image img {
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.prices table {
    border-collapse: collapse;
    margin: auto;
    width: 45%;
}

.prices td, th {
    padding: 8px;
    width: 25%;
    text-align: left;
}

.prices th {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .header {
        text-align: center;
        background-color: white;
    }

    .header img {
        width: 75%;
    }

    .column {
    width: 90%;
    }

    .image img {
        width: 100%;
    }

    .prices table {
        width: auto;
    }
}

@media screen and (min-width: 601px) {
    .header {
        position: -webkit-sticky;
        position: sticky;
        top: 8%;
    }
}